body {
background-image: url('./sys/bg.gif');
background-repeat: repeat;
margin: 0;
padding: 0;
font-family: georgia;
}
.container {
width: 1100px;
margin: 0 auto;
}
.header {
width: 1100px;
height: 200px;
background-image: url('./sys/shapqa.gif');
background-repeat: no-repeat;
background-position: center;
}
.content {
display: flex;
}
.sidebar {
width: 200px;
background-color: #eee;
border: 1px solid #bbb;
}
.main-content {
margin: 5px;
word-break: break-word;
hyphens: auto;
flex: 1;
}
